<!DOCTYPE html>
<html lang="vi">
<head>
    <title>Thuê xe hơi - NBTT gara</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="~/Content/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">

    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/aos.css">

    <link rel="stylesheet" href="~/Content/css/ionicons.min.css">

    <link rel="stylesheet" href="~/Content/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/css/jquery.timepicker.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="~/Content/css/css_out.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/css/icomoon.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link href="~/Content/Admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <script src="~/Content/Home/js/modernizr-2.6.2.min.js"></script>

</head>
<body>

    <div class="gtco-loader"></div>
    <div id="page">
        <!-- <div class="page-inner"> -->
        <nav class="gtco-nav" role="navigation">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-sm-4 col-xs-12"></div>
                    <div class="col-xs-8 text-right menu-1">
                        <ul>
                            <li>
                                <a class="nav-link" href="@Url.Action("Index", "Home")">
                                    <i style='font-size:40px' class="glyphicon">&#xe021;</i>
                                </a>
                            </li>

                            <li>
                                <a class="nav-link" href="@Url.Action("Index", "Cars")">Xe</a>
                            </li>

                            <li >
                                <a class="nav-link" href="@Url.Action("Index", "Pricing")">Giá cả</a>
                            </li>

                            <li>
                                <a class="nav-link" href="@Url.Action("Index","Contact")">Liên hệ</a>
                            </li>

                            <li class="has-dropdown">
                                @{
                                    if (Session["KH"] != null)
                                    {
                                        WebThueXe.Models.KhachHang kh = (WebThueXe.Models.KhachHang)Session["KH"];
                                        <a href="#">@kh.hoTenKH</a>
                                        <ul class="dropdown">
                                            <li><a href="@Url.Action("CaNhan","Account")">Sửa thông tin</a></li>
                                            <li><a href="@Url.Action("Order","Account")">Đơn hàng</a></li>
                                            <li><a onclick="return confirm('Bạn có thực sự muốn đăng xuất ?');" href="@Url.Action("Logout", "Account")">Đăng Xuất</a></li>
                                        </ul>
                                    }
                                    else
                                    {
                                        <a href="#">Khách hàng</a>
                                        <ul class="dropdown">
                                            <li><a href="@Url.Action("Login", "Account")">Đăng Nhập</a></li>
                                            <li><a href="@Url.Action("Register", "Account")">Tạo Tài Khoản</a></li>
                                        </ul>
                                    }
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!-- END nav -->
    @RenderBody();
    <a href="~/Cart" class="popup-vimeo">
        <i class="fas fa-cart-arrow-down fa-4x" style="color:orangered;position:fixed;bottom:30px;height: 100px;right: 30px;z-index:9999;"> </i>
    </a>
    <!-- Footer -->
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Hỗ trợ khách hàng</h3>
                        <ul>
                            <li>Chăm sóc khách hàng</li>
                            <li>Hướng dẫn đặt hàng</li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Thông tin liên hệ</h3>
                        <ul>
                            <li>Địa chỉ: 100 Nguyễn Văn Quá, Đông Hưng Thuận, Quận 12, Tp.HCM</li>
                            <li>SĐT: 0367590203</li>
                            <li>Email: vuducnam180203@gmail.com</li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Chính sách</h3>
                        <ul>
                            <li>Bảo hiểm xé</li>
                            <li>Chính sách đổi trả xe</li>
                            <li>Bảo mật thông tin</li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social">
                        <p class="mangxahoi">Mạng Xã Hội</p>
                        <a href="https://www.facebook.com/profile.php?id=100065822105187"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright">Bản quyền bởi Đức Nam © 2023</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/jquery.stellar.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/aos.js"></script>
    <script src="~/Content/js/jquery.animateNumber.min.js"></script>
    <script src="~/Content/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/jquery.timepicker.min.js"></script>
    <script src="~/Content/js/scrollax.min.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <!-- countTo -->


    @RenderSection("script", required: false)
</body>
</html>
